body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

/* //NAVBAR */

.nav-toggle {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-toggle > .bar {
  margin-left: 10px;
  position: relative;
  width: 32px;
  height: 4px;
  background-color:#008DFF;
}
.nav-toggle > .bar::before,
.nav-toggle > .bar::after {
  content: "";
  position: absolute;
  height: 4px;
  background-color:#008DFF;
  border-radius: 2px;
  transition: all 0.45s ease-in-out;
}
.nav-toggle > .bar::before {
  width: 25px;
  transform: translateY(-8px);
  left: 0;
}
.nav-toggle > .bar::after {
  width: 32px;
  transform: translateY(8px);
}
.nav-toggle.open > .bar {
  transform: translateX(-40px);
  background: transparent;
  transition: 0.5s ease;
}
.nav-toggle.open > .bar::before {
  width: 32px;
  transform: rotate(45deg) translate(26px, -26px);
}
.nav-toggle.open > .bar::after {
  transform: rotate(-45deg) translate(26px, 26px);
}
.hg{
  border-bottom: 1px solid #999;
}
.books{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.shad{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cart{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.shadow1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shadowAccount{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.over{
  max-height:240px;
    overflow:hidden
}

/* PAGINATION */
.paginationButtons{
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
 }
 .paginationButtons a{
   padding: 10px;
   margin: 8px;
   border-radius: 5px;
   border: 1px solid #008DFF;
   color: #008DFF;
   cursor: pointer;
   transition: 0.3s;
   text-decoration: none;
 }
 
 .paginationButtons a:hover{
   background-color: #008DFF;
 }

 .paginationActive a{
  background-color: #008DFF;
  color: #fff;
}

.toast-message {
  margin: 0;
  background:darkblue;
  color: #fff;
  font-size: 16px;
  width: 280px;
  border-radius: 20px;
}

@media (max-width : 700px) {
  .toast-message {
    width: 240px;
    margin: 20px;
  }
}








 
 